body {
    text-align: center;
}

h1 {
    font-style: italic;
    font-size: 40px;
    font-weight: 400;
}

#app {
    width: 100%;
    height: 800px;
    background-color: #ff7300;
}

#Mygames {
    width: 100%;
    height: 800px;
    background-color: #ff7300;
}

#ChatBot {
    width: 100%;
    height: 800px;
    background-color: #ff7300;
}
